.place__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .place__title {
    padding: 0;
    max-width: 320px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin-top: 64px;
    margin-left: 16px;
    font-size: 32px;
    line-height: 35px;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
  }
}
