.place__image {
  margin-top: 0px;
  
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 460px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 780px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
}

@media only screen and (max-width: 690px) {
  .place__image {
    width: 100%;
  }
}

