.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  margin-bottom: 0;
}

.place__paragraph-2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-top: 48px;
  margin-bottom: 24px;
}

@media screen and (max-width: 320px) {
  .place__paragraph-2 {
    margin-left: 18px;
    margin-top: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin-top: 0;
    margin-left: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
  }
}

.place__paragraph:first-of-type {
  margin-bottom: 24px;
}

.place__paragraph:last-of-type {
  margin-top: 0px;
}
