@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-item-span/intro__list-item-span.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px 64px 16px;
  }
}
@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 48px 92px;
    max-width: 800px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px 88px;
  }
}
