@import url(./__url-heading/website__url-heading.css);
@import url(./__link/website__link.css);

.website {
  margin-top: 0;
  align-self: end;
}

@media screen and (max-width: 320px) {
  .website {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .website {
    margin-bottom: 0;
  }
}
