@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
  padding-top: 92px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1280px) {
  .cover {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    min-width: auto;
    padding-top: 40px;
  }
}

/*
max-height: 740px;

min-height: 740px;

 min-height: 740pxpx;

  min-height: 640px;

  min-height: 480px;

   max-height: 200px;
*/
