.footer__links-list {
  display: flex;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .footer__links-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
