@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__inner/place__inner.css);

.place {
  display: flex;
  justify-content: space-between;

  padding-top: 80px;
  padding-bottom: 0;
}

.place:first-child {
  padding-top: 0;
}

@media screen and (max-width: 320px) {
  .place {
    flex-direction: column;
    padding: 0;
  }
}
