.place__url-heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  text-transform: uppercase;
  color: #AAAAAA;
  letter-spacing: 0.2em;
}
