.place__website {
  margin-top: 0;
  align-self: end;
}

@media screen and (max-width: 320px) {
  .place__website {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .place__website {
    margin-bottom: 0;
  }
}
